webtools/testopia/testopia/environment.dtd

<!ELEMENT environment (category+)>
<!ATTLIST environment
	name CDATA #REQUIRED>

<!ELEMENT category (element+)>
<!ATTLIST category
	name CDATA #REQUIRED>

<!ELEMENT element (property|element)*>
<!ATTLIST element
	name CDATA #REQUIRED>

<!ELEMENT property #PCDATA>
<!ATTLIST property
	name CDATA #REQUIRED>
